<?xml version="1.0" encoding="UTF-8"?>

<beans  xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

 <bean id="dataservice" class="core.Spring.DI.DataService"></bean> 
  <bean id="callertuneservice" class="core.Spring.DI.CallerTuneService"></bean>
   <bean id="networkservice" class="core.Spring.DI.NetworkService"></bean>
   
   <bean id="airtel" class="core.Spring.DI.Airtel">
   <property name="service" ref="dataservice"></property>
   </bean>           
 </beans>